* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: burlywood;
}

.container {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-family: sans-serif;
    color: black;
    position: relative;
    padding: 1px;
}

.menu {
    float: right;
}

section {
    margin: auto;
    display: flex;
    padding-top: 70px;
    margin-bottom: 50px;
    align-items: center;
    width: 100%;
}

section img {
    width: 30%;
    margin-top: 25px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: fixed;
    top: 0;
    background: red;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight:  bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
    transition: ease 0.3s;
}

.tengah {
    text-align: center;
    width: 100%;
}

.pfp {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
}

.pfp .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}

.my-profile {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.my-fav {
    width: 20%;
    margin: 0 auto;
}

.my-fav img {
    width: 80%;
    border-radius: 50%;
}

.my-fav p {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: black;
}

a.tbl-biru {
    background: blue;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: black;
    text-decoration: none;
    transition: ease 0.3s;
}

h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
}

h3 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin: 40px 40px 40px 40px;
}